
*{
    margin: 0 auto;
    padding: 0 auto;

}
.header-top{
 display: flex;
    background-color:navy;
    padding: 36px;
    

}

.menu a{
    color:navy;
    text-decoration: none;
    background-color:navy ;
    border: 1px solid rgb(138, 135, 135);
    border-radius: 5px;

   
 
    
}
.menu :hover{
    background-color:rgba(51, 22, 238, 0.434);
}
    

.btn{
   margin-left: 1500px;

   
}
.btn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid rgb(118, 115, 115);
    padding: 10px;
    background-color: navy;
    
}
.btn  :hover{
    background-color:rgba(51, 22, 238, 0.434);
    
}
.header-middle{
    display: flex;
    justify-content: space-between;
    background-color: rgba(110, 107, 107, 0.046);
    padding: 10px;
}
.menu-1{
    margin-top: 35px;
    font-size: 26px;
  
}
.menu-1 a{
    text-decoration: none;
   color: black;
    margin-left: 30px;
}
.span-conteiner{
   color: rgba(0, 0, 0, 0.466);
}
.div-all{
    margin-left: 70px;
    margin-right: 70px;
}
.section-conteiner{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.paragraph-1{
    font-size: 58px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 255, 0.553);
}
.paragraph-p{
    font-size: 27px;
    line-height: 25px;
   color: rgba(0, 0, 0, 0.801);
 
}
.paragragh{
    margin-right: 20px;
}
.btn-middle a{
    text-decoration: none;
    
    font-size: 27px;
    
   
    
}
.btn-middle{
   margin-top: 30px;
}
.link{
    background-color: navy;
    color: white;
    border-radius: 6px;
    padding: 10px;



}
.link:hover{
    background-color: rgba(255, 255, 255, 0.046);
    border: 0.5px solid black;
    color: black;
    
   
}
.link-1{
     background-color: rgb(0, 98, 128);
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10px;


}
.link-1:hover{
    background-color: rgba(255, 255, 255, 0.046);
    border: 1px solid black;
    color: black;
}
.box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
padding: 5px;
margin-top: 250px;

}
.card{
    padding: 15px;
    box-shadow: 2px 2px 2px 2px rgba(18, 6, 242, 0.365);
    margin: 40px;
    
}
.card h2{
    font-size: 30px;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(79, 5, 253, 0.71);
}
.card p{
    line-height: 30px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.568);
}
.middle h6{
    font-size: 70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(56, 2, 255, 0.687);
}
.middle p{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.747);
}

.conteiner-flued{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
}
.flued {
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(18, 6, 242, 0.365);
    margin: 40px;
    padding-top: 100px;
}
.para{
    font-size: 25px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.626);
}
.down{
    display: flex;
    padding: 10px;
}
.down img{
    border-radius: 55px;
    margin-left: 10px;
    border: 0.2px solid rgba(0, 0, 0, 0.285);
    padding: 3px;
}
.down p{
    font-size: 20px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 255, 0.68);
}
.box-1{
display: grid;
grid-template-columns: repeat(3,1fr);
margin-top: 100px;



   
}
.card-1{
    margin: 10px;
    border: 1px solid rgba(0, 0, 255, 0.164);
    text-align: center;
    margin-top: 100px;
    
}
.card-1 h2{
    font-size: 30px;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(79, 5, 253, 0.71);
    padding: 10px;
    text-align: left;
}
.card-1 p{
    line-height: 30px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.568);
    padding: 10px;
    text-align: left;
    margin-bottom: 18px;
}
.link-2{
   
padding-left: 223px;
padding-right: 223px;
text-decoration: none;
background-color: navy;
color: white;
border: 1px solid rgb(118, 115, 115);
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;

font-size: 20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top: 10px;



}
.link-2:hover{
    
  
    background-color:rgba(0, 0, 128, 0.895);
}